/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-navigation {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  position: fixed;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
}
@media (max-width: 500px) {
  .main-navigation .nav-container {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}
.main-navigation .nav-container .logo-heading {
  font-size: 4rem;
  padding: 5px;
}
@media (max-width: 500px) {
  .main-navigation .nav-container .logo-heading {
    font-size: 3rem;
  }
}
.main-navigation .nav-container .nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
@media (max-width: 500px) {
  .main-navigation .nav-container .nav {
    width: 100%;
    justify-content: space-around;
  }
}
.main-navigation .nav-container .nav a {
  font-size: 1.6rem;
  color: #212529;
  text-decoration: none;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .main-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30px;
  padding: 2px;
  height: 100%;
}
.home .main-image img {
  width: 100%;
}
@media (max-width: 500px) {
  .home .main-image img {
    width: 99%;
    margin: 1% 0;
    height: auto;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images .launch,
  .home .space-images .sky {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
    margin: 20px 2.5%;
    border-radius: 20px;
    height: 100%;
  }
}
.visit-planets {
  padding: 15px;
}
.visit-planets h3 {
  margin-top: 11px;
}
.visit-planets p {
  margin-top: 13px;
}
.walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 500px) {
  .walk {
    width: 100%;
    height: 100%;
  }
  .walk .walk-img {
    width: 100%;
    order: -1;
    padding: 0 0;
    margin: 0;
  }
}
.walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .walk .walk-text {
    width: 100%;
  }
}
.walk .walk-text h3 {
  margin-bottom: 10px;
}
.walk .walk-text p {
  margin-bottom: 26px;
}
.walk .walk-text .btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  background-color: black;
  color: #FFFFFF;
  border: 1px solid #C0C0C0;
  cursor: pointer;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .walk .walk-text .btn {
    width: 100%;
  }
}
.walk .walk-text .btn:hover {
  background: #FFFFFF;
  color: #17A2B8;
}
.walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
